<template>
  <div>
    <h1>REGISTER</h1>
    <input type="email" name="email" v-model="email" placeholder="Email" />
    <br />
    <input type="password" name="password" id="password" v-model="password" placeholder="password" />
    <br />
    <button @click="register" type="button">Register</button>
  </div>
</template>

<script>
import AuthenticationService from "@/services/AuthenticationService";
export default {
  data() {
    return {
      email: "asd",
      password: "asd",
    };
  },

  methods: {
    async register() {
      const response = await AuthenticationService.register({
        email: this.email,
        passwor: this.password,
      });
      console.log(response.data);
    },
  },
  //whenever the vue component mounted
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
